<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Logo"
      src="../../../assets/shoes _icon.png"
    />
    <span>Fashion queen</span>
    <div class="spacer"></div>
    <div>
        <input type="text" class="toolbarSearch" placeholder="Search...">
    </div>
      <div class="spacer"></div>
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" routerLink="/cart" title="Twitter">
        <img width="24" height="24" fill="none" src="../../../assets/cart.png">
      </a>
      <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
        <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
        </svg>
      </a>
  </div>
  <div class="containerCategory">
    <div class="category">
        <a>
            <span>Basket</span>            
        </a>
    </div>
    <div class="category">
        <a routerLink="/heel">
            <span>Heel</span>            
        </a>
    </div>
    <div class="category">
        <a>
            <span>Ankle boot</span>            
        </a>
    </div>
    <div class="category">
        <a>
            <span>Sandals</span>            
        </a>
    </div>
  </div>
